<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magemojo>
            <cron>
                <enabled>1</enabled>
                <jobs>3</jobs>
                <phpproc>php</phpproc>
                <maxload>0.75</maxload>
                <history>1</history>
            </cron>
        </magemojo>
    </default>
</config>
